@import './vars';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-primary);
    color: var(--primary-color);
    font-size: var(--font-size-s);
    background-color: var(--bg-color-main);
}

.title,
.date {
    font-size: var(--font-size-l);
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../assets/beach.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.map {
    margin-top: 100px;
    text-align: center;
    & h3 {
        margin: 10px 0;
    } 
}

*::-webkit-scrollbar {
    width: 14px;
  }
  
*::-webkit-scrollbar-track {
    background: none;
    // background-color: var(--bg-color-main);
  }
  
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
