:root {
    --primary-color: #123123;
    --secondary-color: #987653;
    --accent-color: #eeefff;

    --bg-color-main: #fff;
    --bg-color-secondary: #ffffff;
    --bg-color-secondary-light:rgb(166, 185, 165)5;

    --font-family-main: 'Courier New', Courier, monospace;
    --font-family-secondary: 'Courier New', Courier, monospace;
    
    --font-size-xs: 12px;
    --font-size-s: 18px;
    --font-size-m: 24px;
    --font-size-l: 30px;
}