:root {
    --primary-color: #123123;
    --inverted-primary-color: #fff;
    --secondary-color: #ffffff;
    --accent-color: #5b63ff;

    --bg-color-main: hsl(0, 0%, 100%);
    --bg-color-secondary: #767676;
    --bg-color-secondary-light:rgb(205, 205, 205);

    --font-family-main: 'Courier New', Courier, monospace;
    --font-family-secondary: 'Courier New', Courier, monospace;
    
    --font-size-xs: 14px;
    --font-size-s: 22px;
    --font-size-m: 28px;
    --font-size-l: 34px;
}


@media (max-width: 450px) {
    :root {
        --font-size-xs: 8px;
        --font-size-s: 14px;
        --font-size-m: 20px;
        --font-size-l: 26px;
    }
}