.timer {
    margin-top: 40vh;
}

.timer_wrapper {
    font-size: var(--font-size-xs);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 14px;
    border: 2px solid;
    margin: 0 10px;
}

.timer_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    padding: 10px;
    width: 15vw;
    height: 15vw;
    background-color: var(--bg-color-secondary);
}

.time {
    font-size: var(--font-size-l);
}



@media (max-height: 556px) {
    .timer {
        margin-top: 30vh;
    }
}


@media (min-width: 556px) {
    .timer_item {
        width: 80px;
        height: 80px;
    }
}