.navigation {
    background: none;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 10px 5px 5px 5px;
    color: var(--secondary-color);
    width: 100%;
    & a {
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
            color: var(--accent-color);
            transform: scale(1.1);
        }
    }
}

@media (max-width: 600px) {
    .navigation {
        gap: 10px;
    }
}